{% extends 'base.html' %}


{% block content %}
<main class="recipe-grid">
    {% for mealplan in mealplan_list %}
    <div class="recipe-card">
        <h2 class="recipe-card-title">
            <a href="{% url 'meal_plans_detail' mealplan.pk %}">{{ mealplan.name }}</a>
        </h2>
        <p class="recipe-card-date">{{ mealplan.updated }}</p>
    </div>
    {% endfor %}
</main>
{% endblock content %}
{% block pagination %}
<footer>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1"> First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Back</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
        </span>
    </div>
</footer>
{% endblock pagination %}